[submodule "3rd-party/js"]
	path = 3rd-party/js
	url = https://github.com/codemyriad/vlcn-js.git
	branch = librocco/main
[submodule "3rd-party/typed-sql"]
	path = 3rd-party/typed-sql
	url = https://github.com/vlcn-io/typed-sql
	branch = main