[submodule "3rd-party/js"]
	path = 3rd-party/js
	url = git@github.com:vlcn-io/js
	branch = wa-sqlite-updates
[submodule "3rd-party/typed-sql"]
	path = 3rd-party/typed-sql
	url = git@github.com:vlcn-io/typed-sql
	branch = main
