---
interface Props {
  title: string;
  description: string;
  [key: string]: unknown;
}
const { title, description, ...rest } = Astro.props;
---

<div class="flex flex-col gap-4 backdrop-blur-md bg-white/5 rounded-2xl p-6 border border-base-300" {...rest}>
  <div class="flex items-center justify-center w-14 h-14 bg-white/10 rounded-2xl">
    <slot />
  </div>
  <h3 class="text-2xl font-bold text-base-content leading-[1.2]">{title}</h3>
  <p class="text-sm text-base-content/70 leading-[1.5]">{description}</p>
</div>
