---
import { Globe } from '@lucide/astro';
---

<div class="fixed bottom-5 right-5 z-50 flex flex-row items-center gap-2" transition:persist="fixed-badges">
  <!-- CodeMyriad badge -->
  <a href="https://codemyriad.io" target="_blank" rel="noopener noreferrer"
    class="flex items-center justify-center h-7 px-2 rounded-full bg-base-200 hover:bg-base-300/50 transition-colors border border-base-300">
    <svg viewBox="0 0 92.204 17" height="18" aria-label="Built by CodeMyriad" style="width:auto;display:block;overflow:visible">
      <g transform="scale(0.128)">
        <path fill="white" d="M81.91 127l12 0 0-18-12 0 0 18z m-33.003-120.906l-10.547-6.094-38.36 66.5 37.93 65.755 10.547-6.094-34.415-59.661 34.845-60.406z m88.733-6.094l-10.546 6.095 34.844 60.405-34.844 60.406 10.546 6.094 38.36-66.5-38.36-66.5z m-43.728 7l-12 0 0 18 12 0 0-18z"/>
      </g>
      <g transform="translate(3.688,7.669) scale(0.128)">
        <path fill="white" d="M18 1l-18 0 0 12 18 0 0-12z m48.701-1l-24.556 0 0 12 34 0 0-12-9.444 0z m34.153 13l18 0 0-12-18 0 0 12z"/>
      </g>
      <g transform="translate(6.647,3.962) scale(0.128)">
        <path fill="white" d="M60 36c0-13.255-10.745-24-24-24-13.255 0-24 10.745-24 24 0 13.25501 10.745 24 24 24l0 12c-19.882 0-36-16.11799-36-36 0-19.882 16.118-36 36-36 19.882 0 36 16.118 36 36 0 19.882-16.118 36-36 36l0-12c13.255 0 24-10.745 24-24m599.13202-34.791l10.04401 0 0 65.10001-10.04401 0 0-6.69601c-3.534 4.929-9.021 7.905-16.27503 7.90501-12.64801 0-23.15698-10.695-23.15698-24.45901 0-13.857 10.50897-24.459 23.15698-24.459 7.25403 0 12.74103 2.976 16.27503 7.812l0-25.203z m-14.69403 56.73c8.36999 0 14.69397-6.231 14.69397-14.88 0-8.64899-6.32398-14.88-14.69397-14.88-8.37 0-14.69397 6.231-14.69397 14.88 0 8.649 6.32397 14.88 14.69397 14.88m-41.88501-38.13l10.044 0 0 46.49999-10.044 0 0-6.69599c-3.534 4.929-9.021 7.90499-16.27503 7.90499-12.64801 0-23.15698-10.695-23.15698-24.459 0-13.857 10.50897-24.459 23.15698-24.45899 7.25403 0 12.74103 2.976 16.27503 7.812l0-6.603z m-14.69397 38.13c8.36999 0 14.69397-6.231 14.69397-14.88 0-8.64899-6.32398-14.88-14.69397-14.88-8.37 0-14.69397 6.231-14.69397 14.88 0 8.649 6.32397 14.88 14.69397 14.88m-36.81799-45.105c-3.534 0-6.417-2.976-6.417-6.417 0-3.534 2.883-6.417 6.417-6.417 3.53399 0 6.41699 2.883 6.41699 6.417 0 3.441-2.883 6.417-6.41699 6.417m-5.02198 53.47499l0-47.30899 10.04401 0 0 47.30901-10.04401-0.00002z m-21.74304-38.68899c2.78998-6.323 8.46301-8.648 14.32202-8.648l0 10.88c-6.60302-0.464-14.32202 2.605-14.32202 13.02l0 23.438-10.04401 0 0-46.5 10.04401 0 0 7.81z m-28.01898-7.811l10.69501 0-17.85602 47.988c-4.37097 11.811-11.99701 17.763-22.69202 17.112l0-9.39299c6.51001 0.37199 10.04401-2.976 12.36902-9.114l0.46503-0.93001-19.71601-45.66299 10.974 0 13.857 33.75899 11.90399-33.759z m-57.76001-1.209c10.509 0 17.577 7.254 17.577 18.879l0 28.83001-10.04401 0 0-28.17901c0-6.51-3.534-10.137-9.021-10.137-5.95199 0-10.13699 3.813-10.13699 12.276l0 26.04001-10.04401 0 0-28.17901c0-6.51-3.255-10.137-8.742-10.137-5.67301 0-10.323 3.813-10.323 12.276l0 26.04001-10.04401 0 0-46.50001 10.04401 0 0 5.58c2.97601-4.557 7.53299-6.789 13.29901-6.789 6.04502 0 10.509 2.697 13.206 7.347 3.069-4.836 7.99798-7.347 14.229-7.347m-96.00201 28.737c1.58099 7.254 7.44 10.974 14.88 10.974 5.57999 0 9.76501-2.511 11.99701-5.766l8.27701 4.836c-4.27799 6.324-11.25299 10.137-20.36701 10.13701-15.345 0-25.29599-10.50901-25.29599-24.45901 0-13.764 9.95099-24.459 24.552-24.459 13.857 0 23.34299 11.16 23.34299 24.552 0 1.395-0.186 2.883-0.37201 4.185l-37.014 0z m-0.09299-8.184l27.34201 0c-1.39499-7.998-7.254-11.439-13.29901-11.43899-7.53299 0-12.64801 4.464-14.043 11.43899m-27.56299-37.944l10.04401 0 0 65.10001-10.04401 0 0-6.69601c-3.534 4.929-9.021 7.905-16.27499 7.90501-12.64801 0-23.15702-10.695-23.15702-24.45901 0-13.857 10.50901-24.459 23.15702-24.459 7.25399 0 12.74099 2.976 16.27499 7.812l0-25.203z m-14.694 56.73c8.36999 0 14.694-6.231 14.694-14.88 0-8.64899-6.32401-14.88-14.694-14.88-8.37 0-14.694 6.231-14.694 14.88 0 8.649 6.324 14.88 14.694 14.88m-55.76801 9.57901c-13.578 0-24.552-10.695-24.552-24.45901 0-13.857 10.974-24.459 24.552-24.459 13.67099 0 24.55201 10.602 24.55201 24.459 0 13.764-10.88102 24.459-24.55201 24.45901m0-9.76501c8.18399 0 14.508-6.231 14.508-14.694 0-8.463-6.32401-14.694-14.508-14.694-8.18399 0-14.50799 6.231-14.50799 14.694 0 8.463 6.324 14.694 14.50799 14.694m-58.084 9.76501c-19.809 0-34.03799-14.88-34.03799-33.759 0-18.879 14.22897-33.759 34.03798-33.75901 11.90401 0 22.50601 6.045 27.99301 15.531l-9.29999 5.394c-3.44099-6.417-10.509-10.509-18.69299-10.509-14.043 0-23.343 9.951-23.343 23.34301 0 13.392 9.3 23.343 23.343 23.343 8.18401 0 15.345-4.092 18.69299-10.509l9.29999 5.301c-5.39401 9.486-15.996 15.624-27.993 15.624"/>
      </g>
    </svg>
  </a>
  <!-- Open source badge -->
  <a href="https://github.com/librocco" target="_blank" rel="noopener noreferrer"
    class="flex items-center gap-1 h-7 px-2 rounded-full text-[12px] font-semibold bg-accent text-base-100 hover:opacity-80 transition-opacity">
    <Globe size={14} stroke-width={2} />
    Open source
  </a>
</div>
